@import './reset';
@import './variables';
@import './utils';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

/* Additional styles */
@import './additional-styles/utility-patterns.css';
@import './additional-styles/range-slider.css';
@import './additional-styles/toggle-switch.css';
@import './additional-styles/theme.css';

@import 'tailwindcss/utilities';
@import './editor';
@import './vue2-editor.scss';

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=''] {
  display: none;
}

html {
  font-family: Apple SD Gothic Neo;
  background: #f8f9fb;
  color: rgba(92, 108, 139, 1);
}

.sectionTitle {
  color: rgba(19, 36, 71, 1);
}
